/* @import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Poppins&family=Raleway:wght@600&display=swap');

html {
    background-color: #f1f5f9;
    font-family: Poppins;
  }
  
  body {
    margin: 0 auto;
    width: 100%;
    max-width: 80ch;
    padding: 1rem;
    line-height: 1.5;
  }
  
  * {
    box-sizing: border-box;
  }
  
  h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
  }
  */
