---
import karenAbout from "/karen-about.jpg";
import karenGuiding from "/karen-guiding.jpg";
import SiteLayout from "../layout/SiteLayout.astro";
---

<SiteLayout>
        <div
            class="flex flex-col items-center justify-center md:max-w-screen-2xl mx-auto mt-10 md:mt-24 lg:mt-36"
        >
            <section
                class="flex md:text-left text-center flex-col lg:flex-row md:gap-16 mb-5 mt-14"
            >
                <img
                    src={karenAbout}
                    alt="Karen"
                    class="lg:w-2/5 object-cover lg:m-0 m-7 rounded-md lg:mb-0 lg:ml-10 sm:ml-7 sm:mb-0"
                />
                <div class="relative">
                    <h1

                        class="font-poppins md:text-3xl p-6 text-xl font-bold text-[#1D1D1D] leading-11 py-3 lg:mt-10 sm:text-center lg:text-left"
                    >
                        Unlock Success with<br /> proven
                        <div class="relative inline-block">
                            <span>Leadership coaching.</span>
                            <svg
                                class="absolute bottom-0 left-0 -z-10"
                                viewBox="0 0 247 8"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                    d="M0 0H123.5H247V15H166.49H0V0Z"
                                    fill="url(#paint0_linear_131_64)"></path>
                                <defs>
                                    <linearGradient
                                        id="paint0_linear_131_64"
                                        x1="0"
                                        y1="7.5"
                                        x2="247"
                                        y2="7.5"
                                        gradientUnits="userSpaceOnUse"
                                    >
                                        <stop stop-color="#FFAE4D">
                                            <animate
                                                attributeName="stop-color"
                                                values="#FFAE4D; #FFDF93; #FFAE4D"
                                                dur="3s"
                                                repeatCount="indefinite"
                                            ></animate>
                                        </stop>
                                        <stop offset="1" stop-color="#FFDF93">
                                            <animate
                                                attributeName="stop-color"
                                                values="#FFDF93; #FFAE4D; #FFDF93"
                                                dur="3s"
                                                repeatCount="indefinite"
                                            ></animate>
                                        </stop>
                                    </linearGradient>
                                </defs>
                            </svg>
                        </div>
                    </h1>

                    <div class="flex flex-col lg:mr-10">
                        <p

                            class="text-paragraphSize sm:text-xl lg:text-lg font-poppins font-medium p-6 pt-7 pb-2 leading-8 text-grey-text lg:text-left sm:text-center sm:mt-5"

                        >
                            I am a transformational leadership, business and
                            positive attitude coach, with a successful and
                            proven track record. I have worked with numerous
                            clients from many different backgrounds and business
                            sectors, enabling lasting positive change for my
                            clients.
                        </p>

                        <p

                            class="font-poppins font-medium lg:text-left p-6 pt-7 pb-2 text-paragraphSize sm:text-xl lg:text-lg leading-8 text-grey-text sm:text-center"

                        >
                            I hold a Master's Degree in Leadership and
                            Management from Robert Gordon University and a
                            postgraduate certificate in Coaching, from the
                            University of Aberdeen. I am also an accredited
                            coach of the <span class="text-secondary-accent"
                                >Sue Stone Foundation.</span
                            >
                        </p>

                        <p

                            class="font-poppins font-medium lg:text-left py-7 p-6 text-paragraphSize sm:text-xl lg:text-lg leading-8 text-grey-text sm:text-center"

                        >
                            My career has been interesting and varied over the
                            last 25 years. Having first qualifying as a
                            Management Accountant, I very quickly moved into
                            leadership and management where I realized people
                            development was my passion. I have held various
                            Director roles in the corporate world, my last being
                            the CEO of a Scottish based company for 7 years. I
                            live in Aberdeen and work all over Scotland and the
                            UK. I have international clients whom I meet on
                            SKYPE, so distance is not a barrier!
                        </p>
                    </div>
                </div>
            </section>

            <section
                class="text-center md:text-left flex flex-col lg:flex-row md:gap-16 md:mt-28 mt-4">
               
                <div
                    class="bg-[#F7A746] font-poppins text-2xl md:text-4xl font-bold text-white relative h-96 lg:w-1/2 lg:order-1 lg:mr-10 rounded-md sm:-mt-16 lg:mt-16 sm:mx-16 mx-3"
                >
                    <div class="absolute text-left top-10 sm:top-18 left-14 sm:left-20">
                        EXPLORE <br /> POSIBILITIES.
                    </div>
                    <div
                        class="absolute top-12 right-14 w-32 sm:w-40 sm:top-14 sm:right-48 
                        lg:h-40 lg:w-40"
                    >
                        <svg
                            viewBox="0 0 390 270"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                d="M0.999971 9.74061C262.837 32.3382 335.489 105.678 380.943 305.365"
                                stroke="white"
                                stroke-width="18"
                                stroke-dasharray="80 40"
                                stroke-dasharray="700"
                                stroke-dashoffset="700"
                            >
                                <animate
                                    attributeType="XML"
                                    attributeName="stroke-dashoffset"
                                    from="700"
                                    to="0"
                                    dur="5s"
                                    repeatCount="indefinite"
                                >
                                </animate>
                            </path>
                        </svg>
                    </div>
                    <div class="absolute text-right top-40 md:top-40 right-14 md:right-24">
                        GET <br /> CLARITY.

                        <div
                            class="absolute top-10 right-32 w-28 sm:w-32 sm:top-9 sm:right-52 lg:w-32"
                        >
                            <svg
                                viewBox="0 0 309 250"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                                class="rotate-6"
                            >
                                <path
                                    d="M307.831 9.49794C80.9977 23.7757 25.9326 88.3935 9.54004 267.917"
                                    stroke="white"
                                    stroke-width="18"
                                    stroke-dasharray="80 40"
                                    stroke-dasharray="700"
                                    stroke-dashoffset="700"
                                >
                                    <animate
                                        attributeType="XML"
                                        attributeName="stroke-dashoffset"
                                        from="700"
                                        to="0"
                                        dur="5s"
                                        repeatCount="indefinite"
                                    >
                                    </animate>
                                </path>
                            </svg>
                        </div>
                    </div>
                    <div class="absolute text-left left-14 bottom-10 lg:bottom-30 sm:left-20 lg:left-24">
                        
                        TAKE ACTION!
                    </div>
                </div>

                <div class="lg:w-1/2">
                    <div class="relative inline-block">

                        <div class="relative flex md:mb-10 md:mt-3 flex-col">
                       
                            <h1

                                class="text-xl leading-11 font-poppins md:text-3xl font-bold text-[#1D1D1D] lg:ml-10 p-6 md:p-0 pb-3 pt-10 sm:text-center lg:text-left"
                           

                            >
                          <div class="relative inline-block"> 
                            <span>
                             My Approach     
                            </span>
                
                            <svg
                                class="absolute bottom-0 -z-10 md:-mb-3"
                                viewBox="0 0 247 13"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                    d="M0 0H123.5H247V15H166.49H0V0Z"
                                    fill="url(#paint0_linear_131_64)"></path>
                                <defs>
                                    <linearGradient
                                        id="paint0_linear_131_64"
                                        x1="0"
                                        y1="7.5"
                                        x2="247"
                                        y2="7.5"
                                        gradientUnits="userSpaceOnUse"
                                    >
                                        <stop stop-color="#FFAE4D">
                                            <animate
                                                attributeName="stop-color"
                                                values="#FFAE4D; #FFDF93; #FFAE4D"
                                                dur="3s"
                                                repeatCount="indefinite"
                                            ></animate>
                                        </stop>
                                        <stop offset="1" stop-color="#FFDF93">
                                            <animate
                                                attributeName="stop-color"
                                                values="#FFDF93; #FFAE4D; #FFDF93"
                                                dur="3s"
                                                repeatCount="indefinite"
                                            ></animate>
                                        </stop>
                                    </linearGradient>
                                </defs>
                            </svg>
                             </div>
                            </h1>
                        </div>
                        <div class="flex flex-col md:-mt-5">
                            <p

                                class="font-poppins text-paragraphSize font-medium md:px-10 pb-2 pt-7 p-6 leading-8 text-grey-text lg:text-left sm:text-center sm:text-xl lg:text-lg sm:mt-5"

                            >
                                We will start with an informal consultation
                                call. This is for us to get to know each other,
                                for you to share your expectations and desired
                                outcomes, and for me to determine how I can
                                support you proactively.
                            </p>
                            <p

                                class="font-poppins text-paragraphSize font-medium md:px-10 pb-2 pt-7 p-6 leading-8 text-grey-text lg:text-left sm:text-center sm:text-xl lg:text-lg"

                            >
                                You will benefit from my many years of practical
                                experience, my coaching experience, and my
                                dedication to life-long learning. I regularly
                                invest in my own development to ensure my
                                approach remains robust and relevant.
                            </p>
                            <p

                                class="font-poppins text-paragraphSize font-medium md:px-10 pb-2 pt-7 p-6 leading-8 text-grey-text lg:text-left sm:text-center sm:text-xl lg:text-lg"

                            >
                                Sessions are held in person in a private and
                                comfortable environment or alternatively via
                                video call. If required, extra support is
                                available by phone and email.
                            </p>
                        </div>
                    </div>
                </div>
            </section>

            <section
                class="flex text-center md:text-left flex-col lg:flex-row md:gap-16 md:mt-28"
            >
                <img
                    src={karenGuiding}
                    alt="Karen"
                    class="lg:w-2/5 object-cover lg:mb-10 m-7 lg:m-0 sm:ml-7 rounded-md sm:mb-0 lg:ml-10 sm:-mt-3"
                />
                <div class="flex md:my-14 flex-col relative">
                    <h1

                        class="font-poppins text-xl leading-11 md:text-3xl font-bold text-[#1D1D1D] p-6 py-3
                        sm:text-center sm:-mt-10 lg:text-left"

                    >
                   
                        My Guiding
                        <div class="relative inline-block">
                            <span> Principles</span>
                            <svg
                                class="absolute bottom-0 -z-10 md:-mb-3"
                                viewBox="0 0 247 15"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                    d="M0 0H123.5H247V15H166.49H0V0Z"
                                    fill="url(#paint0_linear_131_64)"></path>
                                <defs>
                                    <linearGradient
                                        id="paint0_linear_131_64"
                                        x1="0"
                                        y1="7.5"
                                        x2="247"
                                        y2="7.5"
                                        gradientUnits="userSpaceOnUse"
                                    >
                                        <stop stop-color="#FFAE4D">
                                            <animate
                                                attributeName="stop-color"
                                                values="#FFAE4D; #FFDF93; #FFAE4D"
                                                dur="3s"
                                                repeatCount="indefinite"
                                            ></animate>
                                        </stop>
                                        <stop offset="1" stop-color="#FFDF93">
                                            <animate
                                                attributeName="stop-color"
                                                values="#FFDF93; #FFAE4D; #FFDF93"
                                                dur="3s"
                                                repeatCount="indefinite"
                                            ></animate>
                                        </stop>
                                    </linearGradient>
                                </defs>
                            </svg>
                        </div>
                    </h1>

                    <div class="lg:mr-10 flex flex-col">
                       
                        <p

                            class="md:pr-10 p-6 font-poppins text-paragraphSize pt-7 pb-2 leading-8 text-grey-text sm:text-center lg:text-left font-medium  sm:text-xl lg:text-lg sm:mt-5"

                        >
                                        
                            I'm here to help you become your best self through
                            positive, non-judgmental guidance, helping you
                            clarify your motivations and goals. As my client, I
                            see you as a talented, capable individual ready to
                            achieve all your life's ambitions.
                        </p>
                        <p

                            class="md:pr-10 p-6 font-poppins text-paragraphSize sm:text-center sm:text-xl lg:text-lg pt-7 pb-2 leading-8 font-medium  text-grey-text lg:text-left"

                        >
                            My coaching approach is comprehensive, acknowledging
                            that we're shaped by our experiences. I use your
                            past to understand your present and future. I
                            provide structured, unbiased coaching, helping you
                            explore your strengths and weaknesses and overcome
                            self-limiting beliefs.
                        </p>
                        <p

                            class="md:pr-10 p-6 font-poppins text-paragraphSize sm:text-center sm:text-xl lg:text-lg pt-7 pb-2 leading-8 font-medium  text-grey-text lg:text-left"

                        >
                            As a team, we respect your personal values, focusing
                            on solutions to your current challenges using your
                            past experiences and values. We'll work
                            collaboratively to create enduring change. Your
                            motivation and engagement can lead us to exceptional
                            results. Together, we'll achieve remarkable
                            outcomes.
                        </p>
                        <button

                            class="bg-black md:w-52 p-4 font-medium md:text-xl rounded-lg text-white md:right-0 md:bottom-0 md:mt-10 mx-auto lg:mr-16 mb-10 mt-5 hover:bg-secondary-accent focus:bg-secondary-accent transition ease-in-out delay-75"

                        >
                            <a href="/getInTouch">Get in touch</a>
                        </button>
                    </div>
                </div>
            </section>
        </div>
</SiteLayout>
