---
import CoachingIntro from "../components/coachingIntro.astro";
import CoachingPackages from "../components/coachingPackages.astro"
import GetInTouch from "../components/getInTouch.astro"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Services</title>
	</head>
	<body>
		<CoachingIntro/>
		<CoachingPackages/>
		<GetInTouch/>
	</body>
</html>
