---
import Card from "../layouts/Card.astro";
import Discount from "../layouts/Discount.astro";
---



<Card h1="Six Session Package">
    <Discount text="15% OFF"/>
    <li>• Total of <span class="text-purple">9 hours</span> split into 6 coaching sessions</li>
    <li>• Includes between-session support for continuity</li>
    <li>• Recommended timeline provided for optimal results</li>
    <li>• Excellent for comprehensive personal and <span class="text-purple">professional development</span></li>
</Card>