---
import Card from "../layouts/Card.astro"
---

<Card h1="Single Session">
    <li>• One 2.5 hour coaching session</li>
    <li>• 3 months of continuous email support</li>
    <li>• Personalised follow-up with action points,
        clear goals, and clarity</li>
    <li>• Ideal for focused, <span class="text-purple">specific challenges</span></li>
    <li>• Free initial 30 minute consultation call</li>
</Card>