<li class="inline-block">
    <button
    id="dot"
    class="cursor-pointer rounded-full h-5 w-5 inline-block bg-grey-text hover:bg-secondary-accent focus:bg-primary-accent transition ease-in-out delay-100"
    tabindex="-1"
    >
    </button>
</li>