---
const { name, message } = Astro.props;
---

<li>
  <article class="flex md:mx-6 lg:mx-0" id="slides">
    <h3 class="mb-4 font-bold text-xl lg:text-2xl">{name.toUpperCase()}</h3>
    <img src="quote-icon.png" alt="" />
    <p class="text-grey-text lg:text-paragraphSize">
      {message}"
    </p>
  </article>
</li>
