<li class="inline-block">
    <button
    id="dot"
    class="cursor-pointer rounded-full h-4 w-4 inline-block bg-gray-300 hover:bg-secondary-accent focus:bg-secondary-accent transition ease-in-out delay-50"
    tabindex="0"
    >
    </button>
</li>