---
const { name, message } = Astro.props;
---

<li>
  <article class="flex" id="slides">
    <h3 class="mb-4 font-bold text-2xl">{name.toUpperCase()}</h3>
    <img src="quote-icon.png" alt="" />
    <p class="text-grey-text">
      {message}"
    </p>
  </article>
</li>
