---
import Card from "./card.astro";
---

<div
  class="h-screen bg-gradient-to-b from-gray-900 to-black border-b-8 border-b-orange-400 text-white text-center"
>
  <section class="w-30">
    <h1 class="text-center">Coaching Packages</h1>
    <p class="text-center">
      Choose from individual coachina sessions and packages of 1, 3 or 6
      sessions as well as tailored, on site coaching for individuals or group
      workshops. Al cessions include a free initial3o minute consultation call.
    </p>
  </section>
  <Card />
</div>
