---
import Scroll from "../layouts/Scroll.astro";
import CardSingleSession from "./cardSingleSession.astro";
import CardThreeSessionPackage from "./cardThreeSessionPackage.astro";
import CardSixSessionPackage from "./cardSixSessionPackage.astro";

// let underlineGradient = "bg-gradient-to-r from-orange_gradient_start to-orange_gradient_finish bg-no-repeat bg-[length:100%_4px] bg-bottom pb-0 lg:bg-[length:100%_8px] lg:pb-1";
  let underlineGradient = "animated-underline";
let borderBottom = "border-b-8 border-b-orange_ish";
---

<div
  id="coachingPackages"
  class=`w-screen  min-h-screen flex flex-col bg-black_background items-center space-y-5 md:justify-around lg:space-y-12 ${borderBottom}`
>
  <section
    class="flex flex-col mt-7 w-11/12 items-center space-y-3 pt-2 sm:space-y-4 sm:pt-4 md:space-y-5 md:pt-6 lg:space-y-5 lg:pt-10 lg:max-w-2xl "
  >
    <h1 class=`text-white text-center text-md font-bold sm:text-xl md:lg:text-2xl lg:text-4xl ${underlineGradient} `>
      Coaching Packages
    </h1>
    <p class="text-white text-center text-xs sm:text-sm md:text-base lg:text-lg">
      Choose from individual coaching sessions and packages of 1, 3, or 6
      sessions, as well as tailored, on-site coaching for individuals or group
      workshops. All sessions include a free initial 30-minute consultation
      call.
    </p>
  </section>
  <section class="flex flex-col space-y-5 w-11/12 md:flex-row md:space-y-0 md:space-x-6 md:justify-center lg:space-x-10">
    <CardSingleSession />
    <CardThreeSessionPackage />
    <CardSixSessionPackage />
  </section>
  <Scroll srollTo="#contactMe" text="scroll to contact me" />
</div>


<style>
  .animated-underline {
    position: relative;
    overflow: hidden;
  }

  .animated-underline::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background: linear-gradient(to right, #FFAE4D, #FFDF93);
    opacity: 0;
    animation: flickerBackground 3s infinite;
  }

  @keyframes flickerBackground {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
</style>

