---
import coaching from '../karen-coaching.jpg'
---


<div class="flex items-center">

<div class="h-screen text-left">

    <div >
<h1 class="
font-bold 
text-6xl 
order-1 
mt-3 
ml-3
underline decoration-4 underline decoration-yellowz">Coaching Intro</h1>
    </div>
<div class="grid grid-cols-2">
<div class="flex-grow ml-3 mt-4 pt-4">
<p>
As a coach, my mission is to help you shine and achieve your full potential. Whether you're facing a new challenge at work, stepping into a leadership role, seeking a promotion, or exploring a new direction, I'm here to support you on your journey.
<br><br>
Coaching is a transformative process, one that aims to guide you from where you are now to where you aspire to be. Drawing from the principles of sports coaching, I'll work with you to enhance self-awareness, clarify your goals, and bridge the gap between potential and success.
<br><br>
Our one-on-one sessions will focus on understanding your values and experiences, and creating a pathway to achieve your personal goals. As we collaborate, I'll encourage you to remain motivated, engaged, and open to the possibilities that coaching brings. 
<br><br>
Together, we can unlock your best self.
</p>
</div>

<div class="flex-grow ml-3 pl-14 pt-4 mt-3">
<img src={coaching} alt='karen coaching'/>
</div>
</div>
</div>
