---
import coaching from "../karen-coaching.jpg";
import Scroll from "../layouts/Scroll.astro";

// let underlineGradient = "bg-gradient-to-r from-orange_gradient_start to-orange_gradient_finish bg-no-repeat bg-[length:100%_4px] bg-bottom pb-0 md:bg-[length:100%_8px] md:pb-1";
let underlineGradient = "animated-underline";
---

<div
  class="w-screen flex flex-col min-h-screen items-center justify-center space-y-16 md:h-screen"
>
  <div
    class="md:flex md:max-w-7xl md:w-11/12 md:h-4/6 md:space-x-7 lg:space-x-20 md:mt-20 lg:w-10/12 w-11/12 mt-5"
  >
    <div
      class="md:flex md:flex-col md:w-7/12 md:space-y-5 flex flex-col w-full space-y-3"
    >
      <h1
        class=` font-bold text-xl w-fit md:md:text-2xl md:font-bold md:text-4xl md:w-fit z-10 ${underlineGradient}`
      >
        Coaching Intro
      </h1>

      <p class="text-custom-gray text-sm md:text-base md:text-md">
        As a coach, my mission is to help you shine and achieve your full
        potential. Whether you're facing a new challenge at work, stepping into
        a leadership role, seeking a promotion, or exploring a new direction,
        I'm here to support you on your journey.
        <br /><br />
        Coaching is a transformative process, one that aims to guide you from where
        you are now to where you aspire to be. Drawing from the principles of sports
        coaching, I'll work with you to enhance self-awareness, clarify your goals,
        and bridge the gap between potential and success.
        <br /><br />
        Our one-on-one sessions will focus on understanding your values and experiences,
        and creating a pathway to achieve your personal goals. As we collaborate,
        I'll encourage you to remain motivated, engaged, and open to the possibilities
        that coaching brings.
        <br /><br />
        Together, we can unlock your best self.
      </p>
    </div>
    <div class="md:w-5/12 h-full w-full mt-3">
      <img
        class="h-full w-full dynamic_max_height "
        src={coaching}
        alt="Karen coaching"
      />
    </div>
  </div>
  <Scroll
    srollTo="#coachingPackages"
    text="scroll to explore coaching packages"
  />
</div>

<style>
  .min_img_width {
    min-width: 330px;
  }


  @media (min-width: 768px) {
    /* Second media query within the range */
    .dynamic_max_height {
      max-height: 470px;
    }
  }

  @media (min-width: 830px) {
    /* Third media query within the range */
    .dynamic_max_height {
      max-height: 520px;
    }
  }

  @media (min-width: 992px) {
    /* Third media query within the range */
    .dynamic_max_height {
      max-height: 600px;
    }
  }




  .animated-underline {
    position: relative;
    overflow: hidden;
  }

  .animated-underline::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    background: linear-gradient(to right, #ffae4d, #ffdf93);
    opacity: 1;
    animation: flickerBackground 4s infinite;
    z-index: -1;
  }

  @keyframes flickerBackground {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0.7;
    }
  }
</style>
