---
import Scroll from "../layouts/Scroll.astro";
import CardSingleSession from "./cardSingleSession.astro";
import CardThreeSessionPackage from "./cardThreeSessionPackage.astro";
import CardsixSessionPackage from "./cardSixSessionPackage.astro";

let underlineGradient =
  "bg-gradient-to-r from-orange_gradient_start to-orange_gradient_finish bg-no-repeat bg-[length:100%_8px] bg-bottom pb-1";
let borderBottom = "border-b-8 border-b-orange_ish";
---

<div
  id="coachingPackages"
  class=`w-screen h-screen flex flex-col lg:flex lg:flex-col lg:justify-around lg:items-center lg:h-screen lg:bg-black_background ${borderBottom} lg:text-white lg:text-center lg:space-y-12`
>
  <section
    class="lg:max-w-2xl lg:flex lg:flex-col lg:items-center lg:space-y-5 lg:pt-10"
  >
    <h1 class=`lg:font-bold lg:text-4xl ${underlineGradient}`>
      Coaching Packages
    </h1>
    <p class="lg:text-center">
      Choose from individual coaching sessions and packages of 1, 3, or 6
      sessions, as well as tailored, on-site coaching for individuals or group
      workshops. All sessions include a free initial 30-minute consultation
      call.
    </p>
  </section>
  <section class="flex flex-col lg:flex lg:space-x-10 lg:w-11/12">
    <CardSingleSession />
    <CardThreeSessionPackage />
    <CardsixSessionPackage />
  </section>
  <Scroll srollTo="#contactMe" text="scroll to contact me" />
</div>
