---
import ContactForm from "../layouts/ContactForm.astro";
import map from "../map.png";
import facebookBlack from "../facebookBlack.svg"
import twitterBlack from "../twitterBlack.svg"
import instagramBlack from "../instagramBlack.svg"
import GoogleApiWrapper from "./GoogleApiWrapper.jsx";
---

<div id="contactMe" class="min-h-screen h-screen flex flex-col items-center md:flex-row ">
  <div class="h-1/2 w-full md:w-1/2 md:h-full z-0">
    <!-- <img src={map} class="h-full w-full" /> -->
    <GoogleApiWrapper client:visible/>
  </div>
  <div class="h-1/2 w-full flex flex-col justify-center items-center z-20 md:h-full md:w-1/2  ">
    <div class="flex w-2/5 items-center justify-between">
      <img src={facebookBlack} alt="facebook" class="cursor-pointer"/>
      <img src={twitterBlack} alt="twitter" class="cursor-pointer"/>
      <img src={instagramBlack} alt="instagram" class="cursor-pointer"/>
    </div>
    <ContactForm/>
  </div>
</div>
