---
import ContactForm from "../layouts/ContactForm.astro";
import map from "../map.png";
import facebookBlack from "../facebookBlack.svg"
import twitterBlack from "../twitterBlack.svg"
import instagramBlack from "../instagramBlack.svg"
import GoogleApiWrapper from "./GoogleApiWrapper.jsx";
---

<div id="contactMe" class="lg:h-screen lg:flex lg:items-center">
  <div class="lg:w-1/2 lg:h-full lg:z-0">
    <!-- <img src={map} class="h-full w-full" /> -->
    <GoogleApiWrapper client:load/>
  </div>
  <div class="lg:w-1/2 lg:h-full lg:flex lg:flex-col lg:justify-center lg:items-center lg:z-20">
    <div class="lg:flex lg:w-1/5 lg:items-center lg:justify-between">
      <img src={facebookBlack} alt="facebook"/>
      <img src={twitterBlack} alt="twitter"/>
      <img src={instagramBlack} alt="instagram"/>
    </div>
    <ContactForm/>
  </div>
</div>
