---

---
<div id="getInTouch" class="h-screen grid grid-cols-2 ">
<div>
    Google map
</div>

<div class="flex space-x-5">
    <div>
        <p>Your name</p>
        <input class="bg-slate-200" type="text" name="myField" placeholder="Type here...">

    </div>

    <div>
        <p>Your email</p>
        <input class="bg-slate-200" type="text" name="myField" placeholder="Type here...">
    </div>

</div>
</div>