---

---
<div class="h-screen">

    <div>
        <p>Your name</p>
        <input class="bg-slate-200" type="text" name="myField" placeholder="Type here...">

    </div>


    <div>Your email
        <input class="bg-slate-200" type="text" name="myField" placeholder="Type here...">
    </div>

</div>