---
import map from "../map.png";
---

<div id="getInTouch" class="h-screen flex items-center">
  <div class="w-1/2 h-full">
    <img src={map} class="h-full w-full" />
  </div>
  <div class="w-1/2 h-full flex flex-col justify-center items-center">
    <form class="flex space-x-20">
      <label
        class="text-xs focus-within:text-purple flex flex-col space-y-2"
        for="name"
        >Your name
        <input
          id="name"
          type="text"
          class="text-base border-b-2 pb-2 mt-3 focus:border-purple focus:outline-none"
        />
      </label>
      <label
        class="text-xs focus-within:text-purple flex flex-col space-y-1"
        for="email"
        >Your email
        <input
          id="email"
          type="email"
          class="text-base border-b-2 pb-2 mt-3 focus:border-purple focus:outline-none"
        />
      </label>
    </form>
  </div>
</div>
