<div class="cursor-pointer md:hidden">
    <span class="block w-10 h-1 mb-2 bg-black"></span>
    <span class="block w-10 h-1 mb-2 bg-black"></span>
    <span class="block w-10 h-1 bg-black"></span>
</div>

