<input type="checkbox" id="hamburger-input" class="burger-shower" />
<label id="hamburger-menu" for="hamburger-input" class="w-10 h-7">
    <nav id="sidebar-menu" class="absolute flex flex-col gap-10 top-16 right-0 p-6 z-10 bg-white border-l-2 border-b-2 border-t-2 border-solid border-secondary-accent w-2/3 h-screen">
        <ul class="flex flex-col gap-10 text-2xl text-secondary-accent">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/#testimonials">Testimonials</a></li>
            <li><a href="#">Blog</a></li>
        </ul>
        <a href="/getInTouch" class="bg-black text-white p-2 rounded-lg text-center text-xl">Get In Touch</a>
    </nav>
</input>

<style>



#hamburger-input{
  display: none;
}

#hamburger-menu {
    display: none;
    background: linear-gradient(
      to bottom, 
      #000000, #000000 20%, 
      white 20%, white 40%, 
      #000000 40%, #000000 60%, 
      white 60%, white 80%, 
      #000000 80%, #000000 100%
    );
}

#hamburger-menu #sidebar-menu {
    visibilty: hidden;
    right: -250px;
    transition: 0.5s;
}


#hamburger-input:checked + #hamburger-menu #sidebar-menu {
    visibility: visible;
    right: 0;
}


@media screen and (max-width: 750px) {
  #main-menu {
    display: none;
  }
  #hamburger-menu {
    display: inline;
  }
}

</style>