---
import karen from "/homepage-karen.png";
---

<div
    class="grid md:grid-cols-5 gap-x-4 px-4 md:px-6 lg:px-32 lg:pr-18 my-10 lg:my-36"
>
    <div
        class="grid md:col-span-3 grid-flow-row auto-rows-max gap-y-12 lg:pr-14 2xl:px-44"
    >
        <h1
            class="text-5xl lg:text-hero font-bold text-center md:text-left"
            id="hero"
        >
            Your Partner in Acheiving <span class="text-primary-accent"
                >Leadership</span
            >
            <div class="relative w-full md:w-fit">
                <svg
                    class="absolute -bottom-6 lg:-bottom-6 left-0 w-full"
                    width="300"
                    height="30"
                    viewBox="0 0 91 10"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        id="purpleUnderline"
                        d="M90.9486 5.79066C90.2433 5.37862 89.6665 4.76911 85.4895 3.99136C84.0606 3.73258 82.6348 3.45242 81.2053 3.20434C70.5306 1.63173 69.6018 1.69018 61.7263 1.02578C57.5078 0.744906 53.2785 0.724233 49.0542 0.645816C46.0756 0.637974 43.0963 0.757025 40.1183 0.824036C24.0818 1.61177 29.6622 1.19331 18.4886 2.29613C13.6742 3.02113 8.87117 3.85449 4.06052 4.61584C3.34318 4.78764 2.61497 4.91311 1.9072 5.13054C1.12406 5.37434 1.09467 5.36436 0.982886 5.47842C0.472502 5.89047 0.79253 6.91416 1.5399 6.72596C3.71111 6.05087 3.60188 6.11502 12.914 4.61156C13.1861 4.93093 13.3797 4.85252 14.0906 4.83327C14.9332 4.81046 15.7757 4.79549 16.6176 4.75343C20.0358 4.48182 23.4449 4.06764 26.8611 3.75896C28.0371 3.66629 29.2118 3.53654 30.3878 3.42391C31.8704 3.34121 33.3537 3.26066 34.8369 3.18153C42.5201 3.02755 40.2959 2.9584 49.8259 3.07317C51.3219 3.14374 49.9261 3.06034 57.8566 3.56506C64.0278 4.19809 70.6909 5.55684 76.7274 6.85285C79.3381 7.41674 84.1801 8.50673 86.7122 9.47482C86.9556 9.54968 87.2411 9.45558 87.3835 9.21961C87.586 8.95442 87.5534 8.52812 87.3337 8.2836C87.1261 8.06118 86.8137 8.03837 86.5557 7.92146C85.4129 7.50443 83.7329 7.05959 82.4886 6.74093L84.1596 6.97476C85.6301 7.19789 87.1159 7.2542 88.5889 7.45595C89.2788 7.52439 90.2133 7.58498 90.7825 7.143C90.9268 7.03321 91.0929 6.94695 91.1791 6.76731C91.3554 6.4401 91.2513 5.97887 90.9498 5.79209L90.9486 5.79066ZM59.847 2.34033C62.2514 2.44013 69.6836 3.1138 72.408 3.40537C75.3432 3.79817 78.2777 4.19168 81.2078 4.63081C82.7568 4.97085 85.9431 5.42995 87.7055 5.92397C86.9472 5.84199 86.1871 5.78354 85.4282 5.70583C76.9031 4.57235 68.3856 3.35191 59.847 2.34033Z"
                        stroke="#7D2E89"
                        stroke-width="0.3"
                        fill="transparent"></path>
                </svg>
                <span>Success.</span>
            </div>
        </h1>
        <div>
            <p class="text-lg">
                Ready to transform your leadership and business success?
            </p>
            <p class="text-lg">
                Explore my coaching, workshops, and masterclasses are created to
                unleash your potential. Begin your journey today.
            </p>
        </div>
        <button
            class="bg-secondary-accent text-white font-bold lg:w-48 p-3 rounded-lg hover:bg-primary-accent focus:bg-primary-accent hover:text-secondary-accent focus:text-secondary-accent transition ease-in-out delay-75"
            >Book a Consultation</button
        >
    </div>
    <div
        class="grid md:col-span-2 mt-24 lg:mt-0 place-self-center lg:place-self-auto"
    >
        <div
            class="h-80 w-80 md:h-80 md:w-80 lg:h-heroCircle lg:w-heroCircle rounded-full bg-gradient-to-r from-primary-accent to-orange-grad-end"
        >
            <img
                src={karen}
                class="h-96 md:h-96 lg:h-heroImage relative inset-x-6 lg:inset-x-14 -inset-y-16 lg:-inset-y-20"
            />
        </div>
    </div>
</div>
<style>
    @media (prefers-reduced-motion: no-preference) {
        .purplePath {
            stroke-dasharray: 1000;
            stroke-dashoffset: 1000;
            animation: dashP 5s forwards;
        }
    }

    @keyframes dashP {
        from {
            stroke-dashoffset: 1000;
        }
        to {
            stroke-dashoffset: 0;
            fill: #7d2e89;
        }
    }
</style>

<script>
    const observer = new IntersectionObserver((entries) => {
        entries.forEach((entry) => {
            const purplePath = entry.target.querySelector(
                "#purpleUnderline"
            ) as HTMLElement;

            if (entry.isIntersecting) {
                purplePath.classList.add("purplePath");
                return; // if we added the class, exit the function
            }

            // We're not intersecting, so remove the class!
            purplePath.classList.remove("purplePath");
        });
    });

    observer.observe(document.querySelector("#hero") as HTMLElement);
</script>
