---
import karenHome from "/Karen.png";
---

<div class="flex justify-center px-32 mt-20 h-screen">
    <div class="flex flex-col gap-16">
        <h1 class="text-hero w-3/4 font-black">
            Your Partner in Acheiving <span class="text-primary-accent"
                >Leadership</span
            >
            <span
                class="bg-bottom bg-[url('/Hero-underline.svg')] bg-no-repeat py-3"
                >Success</span
            >.
        </h1>
        <div>
            <p class="text-lg w-3/4">
                Ready to transform your leadership and business success?
            </p>
            <p class="text-lg w-4/5">
                Explore my coaching, workshops, and masterclasses are created to
                unleash your potential. Begin your journey today.
            </p>
        </div>
        <button class="bg-secondary-accent text-white w-48 p-3 rounded-lg"
            >Book a Consultation</button
        >
    </div>
    <div>
        <img class="h-heroImage" src={karenHome} alt="Karen Homepage Image" />
    </div>
</div>
