---
import logo from "/logo.svg";
import NavItem from "./NavItem.astro";
---

<nav class="flex justify-between items-center px-32 pt-6">
    <div>
        <img src={logo} alt="logo" />
    </div>
    <div class="flex justify-center gap-16 items-center text-sm lg:text-lg text-grey-text font-semibold">
        <NavItem href="" title="Home"/>
        <NavItem href="" title="About"/>
        <NavItem href="" title="Services"/>
        <NavItem href="" title="Testimonials"/>
        <NavItem href="" title="Blog"/>
        <a class="bg-black text-white px-4 py-2 rounded-lg" href="">Get in touch</a>
    </div>
</nav>
