---
import logo from "/logo.svg";
---

<nav class="flex justify-between items-center">
    <div>
        <img src={logo} alt="logo" />
    </div>
    <div class="flex justify-center gap-16">
        <a href="">Home</a>
        <a href="">About</a>
        <a href="">Services</a>
        <a href="">Testimonials</a>
        <a href="">Blog</a>
        <a href="">Get in Touch</a>
    </div>
</nav>
