---
import logo from "/logo.svg";
import NavItem from "./NavItem.astro";
import Hamburger from "./Hamburger.astro";
---

<header class="flex justify-between items-center px-4 md:px-32 pt-2 md:pt-6 w-full">
    <div class="w-1/3">
        <img src={logo} alt="logo" />
    </div>
    <nav class="flex gap-8 items-center text-sm lg:text-lg text-grey-text font-semibold">
        <NavItem href="/" title="Home"/>
        <NavItem href="/about" title="About"/>
        <NavItem href="/services" title="Services"/>
        <NavItem href="/testimonials" title="Testimonials"/>
        <NavItem href="/blog" title="Blog"/>
        <Hamburger/>
        <button class="min-w-fit bg-black border-box hover:bg-primary-accent hover:text-secondary-accent text-white px-4 py-2 rounded-lg hidden md:flex">
            <a href="/contact">Get in touch</a>
        </button>
    </nav>
</header>