---
import ListItem from "./ListItem.astro";
---

<div
    class="bg-white max-w-lg max-h-lg rounded-lg flex items-center flex-col p-10"
>
    <h1 class="text-grey-text text-lg font-bold">Coaching</h1>
    <p class="text-cardPrice font-semibold">
        £49 <span class="text-xxxs font-semibold">/session</span>
    </p>
    <ul class="text-base text-grey-text max-w-md space-y-2 list-inside">
        <li class="flex gap-2 items-start">
            <img class="pt-1" src="/CheckMark.svg" alt="" />
            Aims to unlock client's full potential and guide them to be their best
            selves
        </li>
        <li class="flex gap-2 items-start">
            <img class="pt-1" src="/CheckMark.svg" alt="" />
            Assists clients facing new challenges, roles, or career directions
        </li>
        <li class="flex gap-2 items-start">
            <img class="pt-1" src="/CheckMark.svg" alt="" />
            Uses principles from sports coaching for accountability and goal-setting
        </li>
        <li class="flex gap-2 items-start">
            <img class="pt-1" src="/CheckMark.svg" alt="" />
            Focuses on increasing self-awareness, achieving clarity of choice, and
            success
        </li>
        <li class="flex gap-2 items-start">
            <img class="pt-1" src="/CheckMark.svg" alt="" />
            Offers free initial 30-minute consultation
        </li>
        <button
            class="min-w-fit w-full bg-black text-white px-4 py-2 rounded-lg text-center"
            >Learn More</button
        >
    </ul>
</div>
