<div class="flex flex-col gap-4 px-4 md:w-3/5 text-center">
  
  <div>
    <div class="flex" id="slides">
      <h3 class="mb-4">name</h3>
      <p class="text-grey-text">
        " The improvements have helped shape increased productivity, profits and
        performance. We would have no hesitation in recommending Karen to other
        businesses that are keen to develop and grow both in the market and their
        own talent.”
      </p>
    </div>

    <div id="slides">
    <h3 class="mb-4">name</h3>
    <p class="text-center text-grey-text">
      " The improvements have helped shape increased productivity, profits and
      performance. We would have no hesitation in recommending Karen to other
      businesses that are keen to develop and grow both in the market and their
      own talent.”
    </p>
  </div>
  
  <div id="slides">
    <h3 class="mb-4">name</h3>
    <p class="text-center text-grey-text">
      " The improvements have helped shape increased productivity, profits and
      performance. We would have no hesitation in recommending Karen to other
      businesses that are keen to develop and grow both in the market and their
      own talent.”
    </p>
  </div>
</div>
<div>
  <span
  id="dot"
  class="cursor-pointer rounded-full h-4 w-4 inline-block bg-grey-text duration-300"
  ></span>
  <span
    id="dot"
    class="cursor-pointer rounded-full h-4 w-4 inline-block bg-grey-text duration-300"
    ></span>
    <span
    id="dot"
    class="cursor-pointer rounded-full h-4 w-4 inline-block bg-grey-text duration-1000 active:bg-primary-accent"
    ></span>
  </div>
</div>
<script>
  const slides = document.querySelectorAll("#dot");

  for (let i = 0; i < slides.length; i++) {
    slides[i]?.addEventListener("click", () => currentSlide(i + 1));
  }
  let slideIndex = 1;
  showSlides(slideIndex);

  // Next/previous controls
  function plusSlides(n: number) {
    showSlides((slideIndex += n));
  }

  function currentSlide(n: number) {
    showSlides((slideIndex = n));
  }

  function showSlides(n: number) {
    let i;
    let slides = document.querySelectorAll("#slides");
    let dots = document.querySelectorAll("#dot");
    if (n > slides.length) {
      slideIndex = 1;
    }
    if (n < 1) {
      slideIndex = slides.length;
    }
    for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
    };
    slides[slideIndex - 1].style.display = "block";
  }
</script>
