---

---

<div class="flex flex-col items-center h-screen">
    <div class="h-4 w-full bg-primary-accent"></div>
    <h2 class="text-grey-text text-2xl font-bold mt-24">Testimonials from</h2>
    <p class="bg-bottom bg-[url('/testimonial-underline.svg')] bg-no-repeat p-2 text-header font-bold">my clients.</p>
    <div class="flex mt-32">
        <div>
            <h2 class="font-2xl font-bold">
                MD. EARLY LEARNING EDUCATION
            </h2>
            <p class="text-grey-text">
                The improvements have helped shape increased productivity, profits and performance. We would have no hesitation in recommending Karen to other businesses that are keen to develop and grow both in the market and their own talent.”
            </p>
        </div>
        <img class="shadow-test-image" src="/karen-testimonials.jpg" alt="karen-testimonal">
    </div>
</div>