---
import TestimonialCarousel from "./TestimonialCarousel.astro";
---

<div id="testimonials" class="flex flex-col items-center mb-10 lg:mb-32 border-t-[1rem] border-solid border-primary-accent">
    <h2 class="text-grey-text text-2xl font-bold mt-10 lg:mt-24">
        Testimonials from
    </h2>
    <div class="relative">
        <svg
        class="absolute bottom-0 left-0 -z-10 -mb-1"
        viewBox="0 0 247 20"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
    >
        <path
            d="M0 0H123.5H247V15H166.49H0V0Z"
            fill="url(#paint0_linear_131_64)"></path>
        <defs>
            <linearGradient
                id="paint0_linear_131_64"
                x1="0"
                y1="7.5"
                x2="247"
                y2="7.5"
                gradientUnits="userSpaceOnUse"
            >
                <stop stop-color="#FFAE4D">
                    <animate
                        attributeName="stop-color"
                        values="#FFAE4D; #FFDF93; #FFAE4D"
                        dur="3s"
                        repeatCount="indefinite"
                    ></animate>
                </stop>
                <stop offset="1" stop-color="#FFDF93">
                    <animate
                        attributeName="stop-color"
                        values="#FFDF93; #FFAE4D; #FFDF93"
                        dur="3s"
                        repeatCount="indefinite"
                    ></animate>
                </stop>
            </linearGradient>
        </defs>
    </svg>
        <p class="text-header font-bold">my clients.</p>
    </div>
    <div
        class="grid lg:grid-cols-2 lg:flex-row mt-6 md:mt-10 lg:mt-32 gap-y-6 place-items-center"
    >
        <TestimonialCarousel />
        <img
            class="shadow-test-image-small lg:hover:shadow-test-image-large w-5/6 mr-3"
            src="/karen-testimonials.jpg"
            alt="karen-testimonal"
        />
    </div>
</div>

