---
import TestimonialCarousel from "./TestimonialCarousel.astro";
---

<div class="flex flex-col items-center mb-10 md:mb-32">
    <div class="h-4 w-full bg-primary-accent"></div>
    <h2 class="text-grey-text text-2xl font-bold mt-10 md:mt-24">
        Testimonials from
    </h2>
    <div class="relative mb-4 md:mb-0">
        <svg
            class="absolute -bottom-1 -left-3"
            width="247"
            height="15"
            viewBox="0 0 247 15"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
        >
            <path
                d="M0 0H247V15H166.49H0V0Z"
                fill="url(#paint0_linear_2_487)"
                class="path"></path>
            <defs>
                <linearGradient
                    id="paint0_linear_2_487"
                    x1="0"
                    y1="7.5"
                    x2="247"
                    y2="7.5"
                    gradientUnits="userSpaceOnUse"
                >
                    <stop stop-color="#FFAE4D"></stop>
                    <stop offset="1" stop-color="#FFDF93"></stop>
                </linearGradient>
            </defs>
        </svg>
        <p class="text-header font-bold">my clients.</p>
    </div>
    <div
        class="grid md:grid-cols-2 md:flex-row mt-6 md:mt-32 gap-y-6 place-items-center"
    >
        <TestimonialCarousel />
        <img
            class="shadow-test-image-small md:hover:shadow-test-image-large w-5/6 mr-3"
            src="/karen-testimonials.jpg"
            alt="karen-testimonal"
        />
    </div>
</div>

<style>
    @keyframes slide {
        10% {
            transform: translateX(-180px);
        }
        20% {
            transform: translateX(-160px);
        }
        30% {
            transform: translateX(-140px);
        }
        40% {
            transform: translateX(-120px);
        }
        50% {
            transform: translateX(-100px);
        }
        60% {
            transform: translateX(-80px);
        }
        70% {
            transform: translateX(-60px);
        }
        80% {
            transform: translateX(-40px);
        }
        90% {
            transform: translateX(-20px);
        }
        100% {
            transform: translateX(0px);
        }
    }

   .path {
  transform: translateX(-200px);
  animation: slide 1s ease-in forwards;
}
</style>
