---
export interface Props {
    h1:string;
}
const {h1} = Astro.props;
---
<div class="relative bg-white rounded-lg px-4 py-10 lg:rounded-3xl lg:flex lg:flex-col lg:w-1/3 lg:px-7 lg:py-12">
    <h1 class="text-black text-left text-md font-bold lg:space-y-2   lg:text-2xl lg:pb-1 lg:h-1/6">{h1}</h1>
    <ul class="text-left text-custom-gray text-sm font-semibold lg:flex lg:flex-col lg:space-y-2   lg:text-lg ">
        <slot/>
    </ul>
</div>