---
export interface Props {
    h1:string;
}
const {h1} = Astro.props;
---
<div class="relative flex flex-col rounded-3xl bg-white w-1/3 px-7 py-12">
    <h1 class="text-black space-y-2 text-left font-bold text-2xl pb-1 h-1/6">{h1}</h1>
    <ul class="flex flex-col space-y-2 text-custom-gray text-left text-lg font-semibold">
        <slot/>
    </ul>
</div>