---

---
<form class="w-11/12 h-full md:h-auto md:w-auto flex flex-col md:space-y-6" action="/your-form-action-url" netlify method="POST" >
    <h1 class="text-left text-lg font-bold py-12 md:text-3xl lg:text-4xl">Get in touch</h1>
    <div class="w-full flex justify-between  lg:space-x-20">
      <label
        class="text-xs w-5/12 focus-within:text-purple flex flex-col space-y-0 text-custom-gray lg:space-y-2"
        for="name"
        >Your name
        <input
          id="name"
          type="text"
          name="name"
          class="text-base border-b-2 pb-1 mt-1  focus:border-purple focus:outline-none text-black_background md:pb-1 md:mt-1 lg:pb-2 lg:mt-3"
        />
      </label>
      <label
        class="text-xs w-5/12 focus-within:text-purple flex flex-col space-y-0 text-custom-gray lg:space-y-1"
        for="email"
        >Your email
        <input
          id="email"
          type="email"
          name="email"
          class="text-base border-b-2 pb-1 mt-1  focus:border-purple focus:outline-none text-black_background md:pb-1 md:mt-1 lg:pb-2 lg:mt-3"
        />
      </label>
    </div>
    <label
      class="text-xs w-full pt-1 focus-within:text-purple flex flex-col  text-custom-gray sm:space-y-1 sm:pt-0"
      for="email"
      >Leave your message
      <textarea
        name="message"
        class="h-12 text-base pt-1 mt-1 mb-3  resize-none border-b-2 focus:border-purple focus:outline-none text-black_background lg:h-14 lg:mt-3 "
        
      />
    </label>
    <button class="bg-purple text-white font-semibold rounded-sm py-2" netlify
      >Submit Message</button
    >
  </form>