---
export interface Props {
    text:string;
}
const {text} = Astro.props;
---
<span class="absolute font-semibold text-white text-xs rounded-md bg-gradient-to-r from-purple_gradient_start to-purple_gradient_finish top-5 right-5 px-3 shadow-lg">{text}</span>
